<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @list.name %>
</p>

<ul style="list-style-type:none;">
  <% @list.items.each do |item| %>
    <li><%= check_box_tag("item", "item value", item.complete, :disabled => true) %> <%= link_to item.name, edit_item_path(item) %></li>

  <% end %>
</ul>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
